<style>
 .transactionRow {
   padding: 8px 5px; font-size:11px
 }
  .selector_width{
    width:100px;
  }
</style>

<div class="page_title_div">
  <h2 class="pageTitle display-4"><%=params.fetch("the_institution")%></h2>
</div>

<hr>

<div id="plaid_transactions" class="container overflow-hidden">
  <table id="plaid_transactions_table" class="table">
    <thead>
      <tr>
        <th scope="col">Account</th>
        <th scope="col">Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Merchant Name</th>
        <th scope="col">Authorized Date</th>
        <th scope="col" style="display:none">Transaction ID</th>
        <th scope="col">Debit</th>
        <th scope="col">Credit</th>
      </tr>
    </thead>
    <tbody>
      <%debit_acct = 0%>
      <%@matching_transactions.each do |trans|%>
        <%if trans.fc_transaction_type == true%>
          <%debit_acct = trans.fc_account_number%>
        <%else%>
          <tr>
            <th scope="row"><%=trans.plaid_transaction.plaid_account.plaid_account_name%></th>
            <td><%=trans.plaid_transaction.plaid_name%></td>
            <td><%=trans.fc_amount%></td>
            <td><%=trans.plaid_transaction.plaid_merchant_name%></td>
            <td><%=trans.plaid_transaction.plaid_authorized_date%></td>
            <td style="display:none"><%=trans.plaid_transaction_id%></td>
            <td>
              <select class="form-select form-select-sm selector_width badge bg-light" aria-label=".form-select-sm example" onchange="selector_change()">
                <%i = 1%>
                <%FinancialComponentAccount.where(:fc_account_type => true).or(FinancialComponentAccount.where(:fc_statement => "balance_sheet")).where.not(:fc_account_reporting_group => nil).each do |acct|%>                
                  <option value="<%=i%>"><%=acct.fc_account_name%></option>
                <%end%>
              </select>
            </td>
            <td>
              <select class="form-select form-select-sm selector_width badge bg-light" aria-label=".form-select-sm example" onchange="selector_change()">
                <%i = 1%>
                <%FinancialComponentAccount.where(:fc_account_type => false).or(FinancialComponentAccount.where(:fc_statement => "balance_sheet")).where.not(:fc_account_reporting_group => nil).each do |acct|%>                
                  <option value="<%=i%>"><%=acct.fc_account_name%></option>
                <%end%>
              </select>
            </td>
          </tr>
        <%end%>
      <%end%>
    </tbody>
  </table>
</div>

<script>
    function sentenceCase(str) {
        if ((str === null) || (str === ''))
            return false;
        else
            str = str.toString();

        return str.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
    }

    function selector_change(){
      //alert("test")
      //$( "select option:selected" ).each(function() {
      //$( this ).parent().addClass("bg-success");
      //});
      //$( this ).removeClass("bg-light");
      //$( this.element ).addClass("bg-success");
    }
</script>