<style>
  .institution{
    height:100%;
  }
</style>

<div class="page_title_div">
  <h2 class="pageTitle display-4">Plaid</h2>
</div>

<div id="link-div" class="pageTitle">
  <%if @current_user.plaid_institutions.count == 0%>
    <div>
      <p>Hello! Plaid is an engine used to securely connect to and access data at your Financial Institutions.</p>
      <p>Please click the link below to connect to Plaid and get started!</p>
      <button id="link-button" class="btn btn-primary">Connect to Plaid</button>
    </div>
  <%else%>
    <%a = 1%>
    <%@matching_institutions.each do |inst|%>
        <%if cookies["#{inst.plaid_name.gsub(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\/\s]/,'_')}"] == nil%>
          <%a = 0%>
        <%end%>
    <%end%>
    <%if a == 0%>
      <div>
        <p id="plaid_instructions">Please sign in to your financial institutions to refresh your data.</p>
        <button id="link-button" class="btn btn-primary">Connect to Plaid</button>
      </div>
    <%else%>
      <div>
        <p id="plaid_instructions">All of your existing accounts are updated!</p>
        <button id="link-button" class="btn btn-primary">Connect a new account</button>
      </div>
    <%end%>
  <%end%>
</div>

<hr>

<div id="plaid_institutions" class="container overflow-hidden">
  <%i=0%>
  <%@matching_institutions.each do |inst|%>
    <%if i % 3 == 0 %>
      <div class="row gx-3">
    <%end%>
      <div class="col-4">
        <%if cookies["#{inst.plaid_name.gsub(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\/\s]/,'_')}"] != nil%>
          <div  id="<%=inst.plaid_name.gsub(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\/\s]/,"_")%>_div" class="p-3 border border-success bg-light text-center institution clickable" onclick="institution_div('<%=inst.plaid_name%>')">
        <%else%>
          <div  id="<%=inst.plaid_name.gsub(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\/\s]/,"_")%>_div" class="p-3 border bg-light text-center institution">
        <%end%>        
          <div><%=inst.plaid_name%></div>
          <%= image_tag "data:image/jpeg;base64,#{inst.plaid_logo}", class: "rounded mx-auto thumbnailArrangement" %></span>
        </div>
      </div>
    <%if i % 3 == 2 %>
      </div>
    <%end%>
    <%i = i + 1%>
  <%end%>
</div>

<script type="text/javascript">
(async function($) {
  var handler = Plaid.create({
    // Create a new link_token to initialize Link
    token: (await $.post('/create_link_token')).link_token,
    onLoad: function() {
      // Optional, called when Link loads
    },
    onSuccess: function(public_token, metadata) {
      // Send the public_token to your app server.
      // The metadata object contains info about the institution the
      // user selected and the account ID or IDs, if the
      // Select Account view is enabled.
      var b = metadata.institution.name;
      $.post('/get_access_token', {
        public_token: public_token,
        institution_id: metadata.institution.institution_id
      }).done(function() {
          $.get('/get_transactions', {institution_name: b});//b.replace(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\//\s]/gi, '_')});
          $("#" + b.replace(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\//\s]/gi, '_') + "_div").addClass("border border-success clickable");
          $("#" + b.replace(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\//\s]/gi, '_') + "_div").click(function() {window.location = "/plaid/" + b.replace(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\//\s]/gi, "_")});
          var a = 1
          $('#plaid_institutions > .row > .col-4 > .institution').each(function() {
              if(!$(this).hasClass('border-success')){
                  a = 0;
              };
            });
            if(a == 1){
              $('#plaid_instructions').text("All of your existing accounts are updated!");
              $('#link-button').text("Connect a new account");
            };
            location.reload();
        });
      // jQuery methods go here...
    },
    onExit: function(err, metadata) {
      // The user exited the Link flow.
      if (err != null) {
        // The user encountered a Plaid API error prior to exiting.
      }
      // metadata contains information about the institution
      // that the user selected and the most recent API request IDs.
      // Storing this information can be helpful for support.
    },
    onEvent: function(eventName, metadata) {
      // Optionally capture Link flow events, streamed through
      // this callback as your users connect an Item to Plaid.
      // For example:
      // eventName = "TRANSITION_VIEW"
      // metadata  = {
      //   link_session_id: "123-abc",
      //   mfa_type:        "questions",
      //   timestamp:       "2017-09-14T14:42:19.350Z",
      //   view_name:       "MFA",
      // }
    }
  });
  $('#link-button').on('click', function(e) {
    handler.open();
  });
})(jQuery);

  function institution_div(institution){
    window.location = "/plaid/" + institution
  };
 
</script>