<style>
 .transactionRow {
   padding: 8px 5px; font-size:11px
 }
  .selector_width{
    width:100px;
  }
</style>

<div class="page_title_div">
  <h2 class="pageTitle display-4"><%=params.fetch("the_institution")%></h2>
  <div class="pageTitle pageTitleRight display-4"><button id="commitAudit" class="btn btn-primary btn-lg">Commit</button></div>
</div>

<hr>

<div id="plaid_transactions" class="container-fluid overflow-hidden">
  <div class="row">
      <div class="col"><h6>Account</h6></div>
      <div class="col-3"><h6>Name</h6></div>
      <div class="col"><h6>Amount</h6></div>
      <div class="col"><h6>Merchant Name</h6></div>
      <div class="col"><h6>Authorized Date</h6></div>
      <div class="col"><h6>Debit</h6></div>
      <div class="col"><h6>Credit</h6></div>
  </div>
  
  <%debit_acct = 0%>
  <%credit_acct = 0%>
  <%@matching_transactions.each do |trans|%>
    <%if trans.fc_transaction_type == true%>
      <%debit_acct = trans.fc_account_number%>
    <%else%>
      <%credit_acct = trans.fc_account_number%>
      <hr>
      <div id="<%=trans.plaid_transaction_id%>" class="row lh-2">
        <div class="col"><%=trans.plaid_transaction.plaid_account.plaid_account_name%></div>
        <div class="col-3"><%=trans.plaid_transaction.plaid_name%></div>
        <div class="col"><%=trans.fc_amount%></div>
        <div class="col"><%=trans.plaid_transaction.plaid_merchant_name%></div>
        <div class="col"><%=trans.plaid_transaction.plaid_authorized_date%></div>
        <!--<div class="col" style="display:none"><%=trans.plaid_transaction_id%></div>-->
        <div class="col">
          <select id="1" class="form-select form-select-sm selector_width badge bg-light" aria-label=".form-select-sm example">
            <%i = 1%>
            <%FinancialComponentAccount.where({:fc_account_type => true,:fc_account_name => @matching_accounts}).or(FinancialComponentAccount.where({:fc_statement => "balance_sheet",:fc_account_name => @matching_accounts})).each do |acct|%>
              <%if i == 1%>
                <option value="0"></option>
              <%end%>
              <%if acct.fc_account_number == debit_acct%>
                <option value="<%=i%>" selected><%=acct.fc_account_name%></option>
              <%else%>
                <option value="<%=i%>"><%=acct.fc_account_name%></option>
              <%end%>
              <%i = i + 1%>
            <%end%>
          </select>
        </div>
        <div class="col">
          <select id="0" class="form-select form-select-sm selector_width badge bg-light" aria-label=".form-select-sm example">
            <%i = 1%>
            <%FinancialComponentAccount.where({:fc_account_type => false,:fc_account_name => @matching_accounts}).or(FinancialComponentAccount.where({:fc_statement => "balance_sheet",:fc_account_name => @matching_accounts})).each do |acct|%>
              <%if i == 1%>
                <option value="0"></option>
              <%end%>
              <%if acct.fc_account_number == credit_acct%>
                <option value="<%=i%>" selected><%=acct.fc_account_name%></option>
              <%else%>
                <option value="<%=i%>"><%=acct.fc_account_name%></option>
              <%end%>
              <%i = i + 1%>
            <%end%>
          </select>
        </div>
      </div>
    <%end%>
  <%end%>
</div>

<script>
    function sentenceCase(str) {
        if ((str === null) || (str === ''))
            return false;
        else
            str = str.toString();

        return str.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
    }

    $(document).ready(function(){
      $("select").change(function(){
        var a = $("option:selected", this).text();
        var b = $(this).parents(".row").attr('id');
        var c = $(this).attr('id');
        $.post('/plaid/save_account', {
          acct_name: a,
          trans_id: b,
          trans_type: c
        })
      });
    });

  $('#commitAudit').on('click', function(e) {
    window.location = "/commit_audit"
  });
</script>