<style>
 .transactionRow {
   padding: 8px 5px; font-size:11px
 }
  .selector_width{
    width:100px;
  }

/*   @media only screen and (max-width: 600px) {
//   body {
//     background-color: lightblue;
//   }
// }*/
</style>

<div class="container">
  <div class="row page_title_div">
    <div class="col-7 pageTitle">
      <h2 class="display-4"><%=params.fetch("the_institution")%></h2>
    </div>
    <div class="col pageTitle">
      <select id="commit_selector" class="form-select form-select-sm text-dark bg-light clickable" aria-label=".form-select-sm example" onchange="commit_selector_change(this[this.value].text)">
        <%i = 0%>
        <%@matching_commits.each do |commit|%>
          <option value="<%=i%>"><%=commit.to_s%></option>
          <%i = i + 1%>
        <%end%>
        <option value="<%=i%>" data-remote="true" data-url="/get_commit" data-params='the_institution=<%=params.fetch("the_institution")%>,transaction_filter=Unaudited' selected>Unaudited</option>
      </select>
    </div>
    <div class="col pageTitle justify-content-center">
      <button id="commitAudit" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">Commit</button>
    </div>
  </div>
</div>
<hr>

<div id="plaid_transactions" class="container-fluid overflow-hidden">
  <%= render partial: "plaid_link/plaid_institution_transactions.html.erb", locals: {matching_transactions: @matching_transactions, matching_accounts: @matching_accounts} %>
</div>

<div class="modal fade" id="fcModal_1" tabindex="-1" aria-labelledby="fcModal_1_Label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fcModal_1_Label">Financial Component Import</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="fcModal_1_Body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>

<script>
    function sentenceCase(str) {
        if ((str === null) || (str === ''))
            return false;
        else
            str = str.toString();

        return str.replace(/\w\S*/g, function (txt) { return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase(); });
    };

    function commit_selector_change(item){
      $.ajax({
                beforeSend: function(xhr) {
                  xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
                },
                url: "/plaid/get_commit/",
                type: "POST",
                data: {
                  the_institution: '<%=params.fetch("the_institution")%>',
                  transaction_filter:  item}
              });
    };

    function account_selector_change(item, this_parent, this_id){
      //alert(item + this_parent + this_id)
      $.post('/plaid/save_account', {
        acct_name: item,
        trans_id: this_parent,
        trans_type: this_id
    });
    };

    $(document).ready(function(){      
      //$("select").change(function(){          
        //if($(this).attr('id') == 'commit_selector'){
              //$.ajax({
              //  beforeSend: function(xhr) {
              //    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
              //  },
              //  url: "/plaid/get_commit/",
              //  type: "POST",
              //  data: {
              //    the_institution: '<%=params.fetch("the_institution")%>',
              //    transaction_filter:  $("option:selected", this).text() }
              //});
        //}
        //else{
          //var a = $("option:selected", this).text();
          //var b = $(this).parents(".row").attr('id');
          //var c = $(this).attr('id');
          //$.post('/plaid/save_account', {
            //acct_name: a,
            //trans_id: b,
            //trans_type: c
        //})};
      //});

      $("#commitAudit").click(function(){
        $.get('/commit_audit/<%=params.fetch("the_institution")%>', function(data) {
          if (data == 0) {
            $('#fcModal_1_Body').text("Please ensure transactions have both a debit and credit account specified before saving.");
            $('#fcModal_1').modal("show");
          } else if (data == 1) {
            $('#fcModal_1_Body').text(data + " transaction successfully imported!");
            $('#fcModal_1').modal("show");
          }
          else {
            $('#fcModal_1_Body').text(data + " transactions successfully imported!");
            $('#fcModal_1').modal("show");
          };
        });
      });
      $("#fcModal_1").on('hide.bs.modal', function(){
        location.reload();
      });
      
    });
</script>

