<head>
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.12/css/intlTelInput.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
</head>

<div class="page_title_div">
  <h2 class="pageTitle display-4">Edit User Account</h2>
</div>

<div class="container">
  <form id="editUser" action="/modify_user" method="post">
    <div class="row mb-3">
      <label for="first_name_box" class="col-sm-2 col-form-label border-bottom p-3">First Name</label>
      <div class="col-sm-4 border-bottom p-3">
        <input type="text" class="form-control-plaintext bg-light" id="first_name_box" name="query_first_name" placeholder="<%= @current_user.first_name %>">
      </div>
      <div class="col-sm-6"></div>
        
      <label for="last_name_box" class="col-sm-2 col-form-label border-bottom p-3">Last Name</label>
      <div class="col-sm-4 border-bottom p-3">
        <input type="text" class="form-control-plaintext bg-light" id="last_name_box" name="query_last_name" placeholder="<%= @current_user.last_name %>">
      </div>
      <div class="col-sm-6"></div>

      <label for="email_box" class="col-sm-2 col-form-label border-bottom p-3">Email</label>
      <div class="col-sm-4 border-bottom p-3">
        <input type="text" class="form-control-plaintext bg-light" id="email_box" name="query_email" placeholder="<%= @current_user.email %>">
      </div>
      <div class="col-sm-6"></div>

      <label for="password_box" class="col-sm-2 col-form-label border-bottom p-3">Password</label>
      <div class="col-sm-4 border-bottom p-3">
        <div class="input-group input-group-sm">
          <input class="form-control-plaintext bg-light" id="password_box" name="query_password" placeholder="Choose a password..." type="password" aria-label="Password" aria-describedby="basic-addon2">
          <span class="input-group-text" id="basic-addon2" onclick="password_show_hide(this.id);">
            <i class="fas fa-eye" id="show_eye"></i>
            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-6"></div>

      <label for="password_confirmation_box" class="col-sm-2 col-form-label border-bottom p-3">Password Confirmation</label>
      <div class="col-sm-4 border-bottom p-3">
        <div class="input-group input-group-sm">
          <input class="form-control-plaintext bg-light" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm Password" type="password" aria-label="password_confirmation" aria-describedby="basic-addon3">
          <span class="input-group-text" id="basic-addon3" onclick="password_show_hide(this.id);">
            <i class="fas fa-eye" id="show_eye_2"></i>
            <i class="fas fa-eye-slash d-none" id="hide_eye_2"></i>
          </span>
        </div>
      </div>
      <div class="col-sm-6"></div>      

      <label for="mobile_box" class="col-sm-2 col-form-label border-bottom p-3">Mobile</label>
      <div class="col-sm-4 border-bottom p-3">
        <%if @current_user.mobile == nil%>
          <a href="/settings/add_mobile">Add</a>
        <%else%>
          <!--<input type="text" class="form-control-plaintext bg-light" id="mobile_box" name="query_mobile" placeholder="<%= @current_user.mobile %>">-->
          <input type="tel" class="form-control-plaintext bg-light" id="mobile_box" name="query_mobile" placeholder="<%= @current_user.mobile %>">
        <%end%>
      </div>
      <div class="col-sm-6"></div>
    </div>

    <div class="col-sm-12 p-3">
      <button type="submit" class="btn btn-primary btn-sm">Submit</button>
    </div>
  </form>
</div>

<script>
  document.getElementById("editUser").onsubmit = function() {validateUser()};
  const phoneInputField = document.querySelector("#mobile_box");
  const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript:
      "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
  });

  const info = document.querySelector(".alert-info");

  function password_show_hide(this_id) {
    if (this_id === "basic-addon2") {
      var x = document.getElementById("password_box");
      var show_eye = document.getElementById("show_eye");
      var hide_eye = document.getElementById("hide_eye");
    } else {
      var x = document.getElementById("password_confirmation_box");
      var show_eye = document.getElementById("show_eye_2");
      var hide_eye = document.getElementById("hide_eye_2");
    };

    hide_eye.classList.remove("d-none");
    if (x.type === "password") {
      x.type = "text";
      show_eye.style.display = "none";
      hide_eye.style.display = "block";
    } else {
      x.type = "password";
      show_eye.style.display = "block";
      hide_eye.style.display = "none";
    }
  }

  function validateUser() {
    alert("The form was submitted");
  }

</script>
    