<h2 class="pageTitle display-4">Financial Component Registration</h2>

<%= form_for :userauthentication, url: "/insert_user", method: "post" do |f| %>

  <%= f.text_field :query_email, class: "form_textbox form-control", value:"Email", onblur: "if(this.value == '') { this.value = 'Email'}", onfocus: "if(this.value == 'Email') {this.value = ''};"%>

  <%= f.text_field :query_first_name, class: "form_textbox form-control", value:"First Name", onblur: "if(this.value == '') { this.value = 'First Name'}", onfocus: "if(this.value == 'First Name') {this.value = ''};"%>

  <%= f.text_field :query_last_name, class: "form_textbox form-control", value:"Last Name", onblur: "if(this.value == '') { this.value = 'Last Name'}", onfocus: "if(this.value == 'Last Name') {this.value = ''};"%>

  <%= f.password_field :query_password, class: "form_textbox form-control", value:"Password", onblur: "if(this.value == '') { this.value = 'Password'; }", onfocus: "if(this.value == 'Password') { this.value = ''};"%>

  <%= f.password_field :query_password_confirmation, class: "form_textbox form-control", value:"Password Confirmation", onblur: "if(this.value == '') { this.value = 'Password Confirmation'; }", onfocus: "if(this.value == 'Password Confirmation') { this.value = ''};"%>

    <div class="form_prompts">
        <a href="/sign_in">Sign in with existing account</a>
        <!--&bull;
        <a id="resend-confirmation" href="/resendEmail">Resend email confirmation</a>-->
    </div>

  <%= f.submit "Sign Up", value:"Sign Up", class: "form_button" %>
  <!--<%= f.submit "Register", value:"Register", class: "form_button" %>-->
<% end %>

<div class="form_validation text-danger">

</div>