<h2 class="pageTitle display-4">Financial Component</h2>

<%= form_for :userauthentication, url: "/process_login_form", method: "post" do |f| %>

  <%= f.email_field :email, class: "form-control", id:"email_box", value:"Email", onblur: "if(this.value == '') { this.value = 'Email'}", onfocus: "if(this.value == 'Email') {this.value = ''};"%>

  <%= f.password_field :pword, class: "form-control", id:"password_box", value:"Password", onblur: "if(this.value == '') { this.value = 'Password'; }", onfocus: "if(this.value == 'Password') { this.value = ''};"%>

    <div id="loginprompts">
        <a id="forgot-password" href="/forgotPword">Forgot your password?</a>
        &bull;
        <a id="resend-confirmation" href="/resendEmail">Resend email confirmation</a>
    </div>

    <div id="loginValidation" class="text-danger">
      <span asp-validation-for="Input.Email" class="text-danger"></span>
      <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>

  <%= f.submit "Log In", value:"Log In", id: "submitLogin" %>
  <%= f.submit "Register", value:"Register", id: "registerBtn" %>
<% end %>

<script>
  function inputFunction() {
      var x = document.getElementById("sideNav");
      if (x.classList.contains("fullSideNav")) {
          for (i = 0; i < coll.length; i++) {
              var content = coll[i].nextElementSibling;
              if (content.style.maxHeight) {
                  coll[i].classList.toggle("active");
                  content.style.maxHeight = null;
              };
          }
          x.classList.remove("fullSideNav");
      } else {
          x.classList.add("fullSideNav");
      }
  }
</script>