<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/mesh_logo_2.png"/>
    <title>Financial Component</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src=""></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag "application" %>

    <!-- Load an icon library to show a hamburger menu (bars) on small screens -->
    <!--<script src="/static/scripts/modernizr-2.6.2.js"></script>-->
    
    <!--Plaid Integration-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>

  </head>

  <body>
    <header class="header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <div class="container-fluid">
          <a href="javascript:void(0);" class="navbar-brand text-muted" id="hamburgerMenu" style="margin-left:30px">
            <i class="fa fa-bars" onmouseenter="navFunction()"></i>
          </a>
        </div>
      </nav>
    </header>
    <!-- The sidebar -->
    <div class="body-container">
      <div class="sideNav customScroll" id="sideNav">
          <ul class="sideNavItems">
            <%if @current_user != nil%>
              <li>
                  <a class="sideNavItem" href="/index">Home</a>
              </li>
              <li>
                <%a = 0%>
                <%@matching_institutions.each do |inst|%>
                    <%if cookies["#{inst.plaid_name.gsub(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\/\s]/,'_')}"] != nil%>
                      <%a = 1%>
                    <%end%>
                <%end%>
                <%if a == 1%>
                  <span class="sideNavItem collapsible clickable" id="plaidNavItem">Plaid</span>
                  <ul class="sideNavItemsChild" id="plaidChildren">
                      <li>
                          <a href="/plaid">Link</a>
                      </li>
                      <%@matching_institutions.each do |inst|%>
                        <%if cookies["#{inst.plaid_name.gsub(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\/\s]/,'_')}"] != nil%>
                          <hr class="muted_hr">
                          <li class="clickable">
                            <a href="/plaid/<%=inst.plaid_name.gsub(/[`~!@#$%^&*()|+\-=?;:'",.<>\{\}\[\]\\\/\s]/,'_')%>"><%=inst.plaid_name%></a>
                          </li>
                        <%end%>
                      <%end%>
                  </ul>
                <%else%>
                  <a class="sideNavItem" href="/plaid">Transactions</a>
                <%end%>
              </li>
              <li>
                  <span class="sideNavItem collapsible clickable">Statements</span>
                  <ul class="sideNavItemsChild">
                      <li>
                          <a href="#statements">Income</a>
                      </li>
                      <hr class="muted_hr">
                      <li>
                          <a href="#statements">Cash Flow</a>
                      </li>
                      <hr class="muted_hr">
                      <li>
                          <a href="#statements">Balance Sheet</a>
                      </li>
                  </ul>
              </li>
              <li>
                  <a class="sideNavItem" href="#objectives">Objectives</a>
              </li>
            <%end%>
              <li>
                  <a class="sideNavItem" href="/about">About</a>
              </li>
              <li>
                  <a class="sideNavItem" href="/contact">Contact</a>
              </li>
              <%if @current_user != nil%>
                <span class="sideNavItem collapsible clickable">Settings</span>
                  <ul class="sideNavItemsChild">
                      <li>
                          <a href="/settings/profile">Profile</a>
                      </li>
                      <hr class="muted_hr">
                      <li>
                          <a href="#/settings/plaid">Plaid</a>
                      </li>
                      <hr class="muted_hr">
                      <li>
                          <a href="#/settings/financial_component">Financial Component</a>
                      </li>
                  </ul>
                <li>
                    <a class="sideNavItem" href="/sign_out">Sign Out</a>
                </li>
              <%else%>
                <li>
                    <a class="sideNavItem" href="/sign_in">Sign In</a>
                </li>
              <%end%>
          </ul>
      </div>
      <div class="body-content container customScroll" id="bodyContent" style="overflow: scroll;">
          <%= yield %>
      </div>
    </div>

    <footer class="border-top footer text-muted">
        <p style="margin:0px 60px; padding:0;">&copy; <%= Date.today.year%> - Mesh</p>
    </footer>
  </body>
</html>